# 1. Exploratory Data Analysis

Exploring the data is the first step in any data science project

#### Data types

<table style='margin-left: 0; border: 1px solid'>
    <tr>
        <th>Term</th>
        <th>Explanation</th>
    </tr>
    <tr>
        <td>Numeric</td>
        <td>Data that are expressed on a numeric scale.</td>
    </tr>
     <tr>
        <td><i>Continuous</i></td>
        <td>Data that can take on any (numeric) value in an interval.</td>
    </tr>
     <tr>
        <td><i>Discrete</i></td>
        <td>Data that can take only integer values, such as counts.</td>
    </tr>
      <tr>
        <td>Categorical</td>
        <td>Data that can take only a specific set of values, representing a set of possible categories.</td>
    </tr>
    <tr>
        <td><i>Binary</i></td>
        <td>A special case of categorical data with just two categories of values, e.g. 0/1, true/false.</td>
    </tr>
    <tr>
        <td><i>Ordinal</i></td>
        <td>Categorical data that has an explicit ordering.</td>
    </tr>
</table>

#### Rectangular data

_Rectangular data_ is the general term for a two-dimensional matrix with rows indicating records (cases) and columns indicating features (variables)

<table style='margin-left: 0; border: 1px solid'>
    <tr>
        <th>Term</th>
        <th>Explanation</th>
    </tr>
    <tr>
        <td>Data frame</td>
        <td>Rectangular data (like a spreadsheet) is the basic data structure for statistical and machine learning models.</td>
    </tr>
     <tr>
        <td>Feature</td>
        <td>A column within a table is commonly referred to as a <i>feature</i>.</td>
    </tr>
     <tr>
        <td>Outcome</td>
        <td>Many data science projects involve predicting an <i>outcome</i>. The <i>features</i> are some times used to predict the <i>outcome</i> in an experiment or study</td>
    </tr>
      <tr>
        <td>Records</td>
        <td>A row within a table is commonly referred to as a <i>record</i>.</td>
    </tr>
</table>

In [14]:
import pandas as pd
import numpy as np
from scipy.stats import trim_mean
import wquantiles
from statsmodels.robust.scale import mad

#### Estimates of location

A basic step in exploring your data is getting a "typical value" for each feature (variable): an estimate of where most of the data is located.

<table style='margin-left: 0; border: 1px solid'>
    <tr>
        <th>Term</th>
        <th>Explanation</th>
        <th>Formula</th>
    </tr>
    <tr>
        <td>Mean</td>
        <td>The sum of all values divided by the number of values.</td>
        <td style="font-size: 1.5em">$\bar{x} = {{\sum_{i=1}^n x_i} \over n}$</td>
    </tr>
    <tr>
        <td>Weighted Mean</td>
        <td>The sum of all values times a weight divided by the sum of the weights.</td>
        <td style="font-size: 1.5em">$\bar{x_w}={{\sum_{i=1}^n w_i x_i} \over \sum_{i=1}^n w_i}$</td>
    </tr>
    <tr>
        <td>Trimmed mean</td>
        <td>The average of all values after dropping a fixed number of extreme values.</td>
        <td style="font-size: 1.5em">$\bar{x} = {{\sum_{i=p+1}^{n-p} x_i} \over {n-2p}}$</td>
    </tr>
    <tr>
        <td>Median</td>
        <td>The value such that one half of the data lies above an below (50th percentile).</td>
    </tr>
    <tr>
        <td>Percentile</td>
        <td>The values such that P percent of the data lies below.</td>
    </tr>
    <tr>
        <td>Weighted median</td>
        <td>The values such that one-half of the sum of the weights lies above and below the sorted data.</td>
    </tr>
    <tr>
        <td>Robust</td>
        <td>Not sensitive to extreme values.</td>
    </tr>
    <tr>
        <td>Outlier</td>
        <td>A data value that is very different from most of the data.</td>
    </tr>
</table>

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/refs/heads/master/data/state.csv')
df.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [11]:
# Compute the mean of population
print('Mean:', df['Population'].mean())

# Compute the trimmed mean of population
# Use scipy.stats.trim_mean function
print('Trimmed mean:', trim_mean(df['Population'], 0.1))

# Compute the trimmed mean of population
print('Median:', df['Population'].median())

# Weighted mean of Murder.Rate where weights are Population
# Use np.average
print('Weighted mean:', np.average(df['Murder.Rate'], weights=df['Population']))

# Weighted median of Murder.Rate where weights are Population
# Use wquantiles.median
print('Weighted median:', wquantiles.median(df['Murder.Rate'], weights=df['Population']))

Mean: 6162876.3
Trimmed mean: 4783697.125
Median: 4436369.5
Weighted mean: 4.445833981123393
Weighted median: 4.4

#### Estimates of variability

A second dimension, _variability_, also referred to as _dispersion_, measures whether the data values are tightly clustered or spread out.

<table style='margin-left: 0; border: 1px solid'>
    <tr>
        <th>Term</th>
        <th>Explanation</th>
        <th>Formula</th>
    </tr>
    <tr>
        <td>Deviations</td>
        <td>The difference between the observed values and the estimate of location.</td>
    </tr>
    <tr>
        <td>Variance</td>
        <td>The sum of squared deviations from the mean divided by _n - 1_ where _n_ is the number of data values.</td>
        <td style="font-size: 1.5em">$s^2 = {{\sum_{i=1}^n (x_i - \bar{x})^2} \over n - 1}$</td>
    </tr>
     <tr>
        <td>Standard deviation</td>
        <td>The square root of the variance.</td>
        <td style="font-size: 1.5em">$s = {\sqrt{s^2}}$</td>
    </tr>
     <tr>
        <td>Mean absolute deviation</td>
        <td>The mean of the absolute values of the deviations from the mean.</td>
        <td style="font-size: 1.5em">${{\sum_{i=1}^n |x_i - \bar{x}|} \over n}$</td>
    </tr>
    <tr>
        <td>Median absolute deviation from the median</td>
        <td>The median of the absolute values of the deviations from the median.</td>
    </tr>
    <tr>
        <td>Range</td>
        <td>The difference between the largest and the smallest value in a data set.</td>
    </tr>
     <tr>
        <td>Order statistics</td>
        <td>Metrics based on the data values sorted from smallest to biggest.</td>
    </tr>
    <tr>
        <td>Percentile</td>
        <td>The values such that P percent of the values take on this value or less and (100-P) percent take on this value or more.</td>
    </tr>
    <tr>
        <td>Interquartile range</td>
        <td>The difference between the 75th percentile and the 25th percentile.</td>
    </tr>
</table>

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/gedeck/practical-statistics-for-data-scientists/refs/heads/master/data/state.csv')
df.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [17]:
# Compute standard deviation of population
print('Standard deviation:', df['Population'].std())

# Compute IQR
iqr = df['Population'].quantile(0.75) - df['Population'].quantile(0.25)
print("Interquartile Range:", iqr)

# Compute Median Absolute Deviation from the median (MAD)
# Use statsmodels.robust.scale.mad
print('MAD:', mad(df['Population']))

Standard deviation: 6848235.347401142
Interquartile Range: 4847308.0
MAD: 3849876.1459979336